@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    min-height: auto;
    margin-top: 5px;
    /* background: url(/img/banner.jpg) no-repeat ; */ 
    padding-bottom: 3em;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0, 0, 0, 0.082)),url(/img/banner2.jpg);
    /* overflow: hidden; */
    height: calc(100vh - 25px);
  }


/* -------------------------------------Header--------------------------------------------- */

 #header-principal img {
  display: flex;
  align-items: center;
  user-select: none;
  max-height: 3.5em;
  margin-top: 2%;
  margin-left: 12%;
} 

/* Nuevo Nav */
.navbar-toggler{
  background-color: rgba(247, 247, 247, 0.685);
}

.navbar-collapse{
  justify-content: flex-end;
  margin-right: 10px;
}



.navbar-nav .nav-item a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar-nav .nav-item a::after {
  content: '';
  left: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navbar-nav .nav-item a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
} 

.navbar-nav .btn{
  width: 6em;
  height: 50px;
  background-color:  transparent;
  border: 2px solid;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navbar-nav .btn:hover {
  background: #fff;
  color: #162938
}


/* -------------------------------------Nav--------------------------------------------- */

nav.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  z-index: 2;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}



.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background-color:  transparent;
  border: 2px solid;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938
}


.checkbtn{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}


/* -------------------------------------Content--------------------------------------------- */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.7em 0; /* con este parametro para mover el footer */
  color: #fff;
}

.content img {
  width: 275px;
  height: auto;
}

.content h1{
  font-size: 40px;
}

.content p{
  margin-top: 1.5%  ;
  font-weight: 100;
  line-height: 25px;
  color: #ffffffa2;
  margin-bottom: 0.8%;
}

.content div button {
  width: 220px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.content div button span{
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}

.content div button:hover span{
  width: 100%;
}

.content div button:hover{
  border: none;
}


/* -------------------------------------Login--------------------------------------------- */

.wrapper {
  width: 400px;
  position: absolute;
  top: 18%;
  left: 40%;
  height: 480px;
  background: rgba(241, 238, 238, 0.79); 
  border: 2px solid rgba(240, 235, 235, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease,height .2s ease;
  z-index: 1; 
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}


.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}


.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px)
}


.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}


.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938 ;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;  
}

.remember-forgot label input {
  accent-color: #162938;
  height: 0.8em;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none; 
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}



/* -------------------------------------Footer--------------------------------------------- */


.pie-pagina{
  background-color: rgb(10, 20, 29, 0.8);
}


.pie-pagina .container{
  max-width: 100%;
}


.pie-pagina .container .row{
  padding: 30px;
  text-align: center;
  align-items: center;
}


.container .row .logo-footer{
  width: 100px;
}

.container .row h2{
  color: #fff;
  font-size: 20px;
}

.container .row p{
  color: #efefef98;
  margin-bottom: 10px;
  margin-top: 20px;
}

.container .row a{
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.container .row a:hover{
  color: aqua;
}



.pie-pagina .container .row{
  padding: 30px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.container #copyright{
  color: #fff;
  padding: 8px;
  text-align: center;
  background-color: rgb(10, 26, 42, 0.5);
}


/* Navegación de Navegador */

@media (max-width: 952px){
  .navigation a {
    position: relative;
    font-size: 0.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
}