/* ----------------------------------Página Sobre Contactanos --------------------------------- */

/* Aplicacion de Mixin */
@mixin marginTP ($top,$bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.wrapper-contactanos .container{
  @include marginTP(1%,1%);
  max-width: 90%;

    .row .datos{
      display:grid;
      justify-content: center;
      align-items: center;

          h1{
            color: #fff;
            margin-bottom: 6%;
          }

          p{
            color: #ffffffde;
            font-size: 1.0em;
          }

          .input-group{
            max-width: 95%;
            @include marginTP(4%,4%);

              .form-control, .input-group-text{
                background-color: $colorNosotros;
                color: #fff;
                font-weight: 100;
              }

          }

          .enviar-datos{
            @include marginTP(5.4%,5.4%);
            justify-self: center;

              a {
                text-decoration: none;
                padding: 12px;
                border: 2px solid $colorNosotros;
                background-color: $colorNosotros;
                color: white;
                font-size: 1em;
                border-radius: 5px;
                justify-self: center;

                  &:hover{
                    background-color: rgba(27, 27, 27, 0.925);
                    color: white;
                    border: 2px solid rgba(27, 27, 27, 0.925);
                    transition: 0.3s all ease-in-out;
                  }
                

              }



          }


    }
    
    .row .mapa{
      display: grid;
      justify-items: center;
      align-items: center;

          .ubicacion {
            width: 90%;
            height: 90%;
            border-radius: 0.8em;
          }
          
    }

}
